body {
    margin: auto;
    width: 70%;
    padding: 10px;
    font-family: Arial, sans-serif;
    font-size: 14px;
    line-height: 1.4;
}
h1 {
    text-align: center;
}

.main-menu {

    margin: auto;
    padding: 10px 15px;
    list-style: none;
    text-align: center;
    border: 1px solid #E5E5E5;
    background: #f5f5f5;
}

.main-menu li {
    display: inline-block;
    margin-right: 5px;

}

.importForm {
    text-align: center;
}

a {
    color: #0088CC;
}
.productTable {
    width: 100%;
}
table {
    width: 100%;
    border: 1px solid #E5E5E5;
}
table th {
    border: 2px solid #E5E5E5;
}

table td {
    border: 1px solid #E5E5E5;
}

table caption {
    font-size: 16pt;
    font-weight: bold;
}

table a {
    text-decoration: none;
}

table .nameColumn {
    width: 600px;
}

.pager {

}

.pager p {
    display: inline-block;
    margin: 5px 1px;
    padding: 0 5px;
    border: 2px solid #E5E5E5;
}

.pager p a {
    text-decoration: none;
}


div#notFound404 {
    text-align: center;
}
div#notFound404 img {
    width: 800px;
}